*{
    margin: 5px;
}
.container{
    width: 35%;
    margin: auto;
    margin-top: 10%;
}

label{
    display: block;
}

.table{
    width:80% !important;
    margin: auto;
}

.thead-light{
    text-align: center;
}
td{
    text-align: center;
}
