
/* Corpo */
* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;   
}

/* Intergra SUS*/
h1{
    color: #138f73ff;
    font-size: 15px;
    text-align: justify;
    margin-left: 65px;
    margin-right: 65px;
}

h2{
    color: white;
    margin-top: -680;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 30px;
}

.sus{
    margin-top: 19%;  
    text-align: center;
  }

.principal{
    width: 620px;
    height: 680px;
    margin: auto;
    background-color: #138f73ff;
    margin-top: -670px;
    padding: 10px;
}

/* Mapa */
#map{

    width: 600px;
    height: 600px;
    margin-top: 58%;
    margin-left: 455px;
    margin-right: 65px;
}

.fundo_mapa{
    width: 620px;
    height: 680px;
    margin: auto;
    background-color: #138f73ff;
    margin-top: -670px;
    padding: 10px;
}

.servico{
    color: white;
    margin-top: -680;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 30px;
}

/* Começo e Fim da Página*/
header{
    background-color: #138f73ff;
    width: 100%;
    height: 8%;
}

footer{
    background-color: #138f73ff;
    width: 100%;
    height: 28%;
    margin-top: 850px;
}

/* Menu Lateral */
ul {
    list-style: none;
    top: 70px;
    position: absolute;
    width: 96%;
    margin-left: 10px;
    top: 45px;
    
}

img {
    width: 40px;
}

input[type="checkbox"] {
    display: none;
}

nav {
    background-color: #138f73ff;
    width: 20%;
    height: 30%;
    left: -265px;
    position: absolute;
    transition: all .5s;
    top: 8%;
    text-transform: uppercase;
    
    
}

input[type="checkbox"]:checked~nav {
    transform: translateX(250px);
}

nav a {
    display: block;
    padding: 26px 5px;
    margin: 23px 6px;
    margin-right: 0.5px;
    color: rgb(255, 255, 255);
    font-family: monospace, sans-serif;
    font-size: 25px;
    margin-top: -44.5px; 
    text-decoration: none;  
}

.Menu a:hover {
    background-color: rgb(6, 102, 80);
    color: black;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 5px;
}
